# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\liore\OneDrive\Desktop\DEV\Software Engineering\3rd year\מבוא לבינה מלאכותית\Project\Hiding-images-using-steganography-techniques-with-compression-algorithms\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
